extends base

mixin profileMenuOption(label, icon, link, active)
    li(class=`${active ? 'side-nav--active':''}`)
        a(class=`${active ? 'side-nav--active-a':''}` href=`${link}`)
            img.svg-icon(src=`views/img/svgicon/${icon}.svg`)
            | #{label}

block content

    .account 
        .user-view 
            nav.user-view__menu 
                ul.side-nav
                    +profileMenuOption('Back', 'back-arrow', '/', false)
                    +profileMenuOption('Information', 'info', '#', true)
                    +profileMenuOption('Schedule', 'calendar', '#', false)
                    +profileMenuOption('Network', 'network', '#', false)
                    +profileMenuOption('Posts', 'sticky-notes', '#', false)
                    +profileMenuOption('Setting', 'settings', '#', false)
        
            .user-view__content 
                .user-view__info-container
                    .info-container-header 
                        .info-container-header-left
                            img.avatar(src=`${user.avatar}`)
                        .info-container-header-center
                            p.info-student-name= user.studentName
                            p.info-witid= user.wit_id 
                        .info-container-header-right 
                            p.info-student-dpt= student.graduation.department
                            p.info-student-year= `${student.graduation.exp_year.split('-')[0]}`



            
