.div__post-card 

    .post-card-header
        span.post-author= post.author

        - const post_ts= post.post_ts;
        - const year= post_ts.getFullYear();
        - const month= post_ts.getMonth() + 1;
        - const day= post_ts.getDate();
        - const hr= (post_ts.getHours() > 12)? post_ts.getHours() - 12: post_ts.getHours();
        - const min= (post_ts.getMinutes() < 10)? `0${post_ts.getMinutes()}`:post_ts.getMinutes();
        - const ampm = (post_ts.getHours() >= 12)? 'PM': 'AM'

        .post-time #{month}/#{day}/#{year} #{hr}:#{min}  #{ampm}

    .post-card-body 
        p.post-content= post.content

    .post-card-footer
        input.post-id(type='hidden', value=`${post._id}`)
        
        button.post-like-count 
            i.fa.fa-heart
            span= `${post.likes.length}`